* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Archivo", sans-serif;
}

:root {
    --blue: #215191;
    --green: #07A191;
    --button-blue: #1D3BFE;
}

body {
    background: rgb(170,0,166);
    background: linear-gradient(0deg, #083393, #4C6BAF);
    background-repeat: no-repeat;
    max-width: 100%;
}

/* Header */

.header {
    border-bottom: 2px solid white;
    box-shadow: 0px 0px 16px 0px;
}

.header__items {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 100px;
    align-items: center;
    font-weight: lighter;
}

.header__p {
    font-size: 30px;
    color: white;
    height: 26px;
}

.header__menu {
    display: flex;
}

.header a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.header__menu ul{
    list-style: none;
    display: flex;
}

.header__menu ul li {
    padding: 0 0 0 40px;
}

/* Body */

.main {
    margin: 15px 50px;
    display: grid;
    height: calc(100vh - 78px);
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    color: black;
    padding: 0px 0;
    font-size: 20px;
}

.data {
    grid-area: 1/1;
    display: grid;
    padding: 0px;
    margin: 20px 0;
    /* grid-template-columns: repeat(12, 8.3%); */
    grid-template-rows: repeat(10, 10%);
}

.poster {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 60px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 11px 0px rgb(85, 85, 85);
}

.poster p {
    color: rgb(39, 39, 39);
    font-size: 27px;
    font-weight: lighter;
}

.next-class {
    grid-area: 1 / 2;
}

.clases {
    grid-area: 1 / 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 16.6%);
}

.gotoclass {
    padding: 8px 30px;
    color: white;
    background-color: var(--button-blue);
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: lighter;
    text-decoration: none;
    height: 22px;
}

.gotoclass:hover {
    transition: 70ms;
    box-shadow: 0px 0px 5px 0px rgb(141, 140, 140);
}

.classday {
    font-size: 40px;
    grid-area: 3 / 4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}

.class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hora {
    font-size: 70px;
    color: white;
    font-weight: lighter;
}

.dia {
    font-weight: lighter;
    font-size: 50px;
    color: white;
}

@media only screen and (max-width: 800px) {
    
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .poster {
        height: calc(100% - 100px);
        width: calc(100vw - 210px);
    }

    .header {
        flex-direction: column;
    }

}

@media only screen and (max-width: 550px) {

    .main {
        grid-template-columns: 60% 40%;
    }

    .poster {
        height: calc(100% - 100px);
        width: calc(100vw - 100px);
        padding: 10px;
    }

    .dia {
        display: none;
    }

    .hora {
        display: none;
    }

}

@media only screen and (max-width: 1024px) {

    .main {
        grid-template-columns: 60% 40%;
    }

}