* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Archivo", sans-serif;
}

:root {
    --blue: #215191;
    --green: #07A191;
    --button-blue: #1D3BFE;
}

body {
    background: linear-gradient(var(--green), var(--blue));
    background-repeat: no-repeat;
}

/* Header */

.header {
    border-bottom: 2px solid white;
}

.header__items {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 100px;
    align-items: center;
}

.header__p {
    font-size: 30px;
    color: white;
}

.header__menu {
    display: flex;
}

.header a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.header__menu ul{
    list-style: none;
    display: flex;
}

.header__menu ul li {
    padding: 0 0 0 40px;
}

/* Body */

.main {
    margin: 50px 40px;
    display: grid;
    height: calc(100vh - 156px);
    grid-template-columns: 10% 20% 25% 45%;
    grid-template-rows: 47% 6% 47%;
    color: black;
    font-size: 20px;
}

.poster {
    background-color: white;
    border-radius: 60px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 11px 0px rgb(85, 85, 85);
}

.poster p {
    color: rgb(39, 39, 39);
    font-size: 27px;
}

.next-class {
    grid-area: 1 / 2;
}

.current-class {
    grid-area: 3 / 2;
}

.gotoclass {
    padding: 8px 30px;
    color: white;
    background-color: var(--button-blue);
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
}

.gotoclass:hover {
    transition: 70ms;
    box-shadow: 0px 0px 5px 0px rgb(141, 140, 140);
}

.classday {
    font-size: 40px;
    grid-area: 3 / 4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}


